* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  background-color: #1F2937;
  padding: 1rem 0 5rem 0;
}

nav.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

nav span.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  font-size: 18px;
  color: #E5E7EB;
}

nav .nav-links a {
  text-decoration: none;
  color: #E5E7EB;
}

li.nav-link {
  padding: 4px;
}

.hero {
  display: flex;
  gap: 30px;
  align-items: stretch;
  padding: 5rem 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 8px;
}

.hero .hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-image {
  color: #F9FAF8;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex: 1;
}

.sign-up-button {
  color: #F9FAF8;
  background-color: #3882F6;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 10px;
}

.info-section {
  padding: 2rem;
}

.info-header-text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}

.info-items {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  padding: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 250px;
  text-align: center;
}

.box {
  border: 5px solid #3882F6;
  border-radius: 12px;
  width: 200px;
  height: 250px;
}

.testimonial-section {
  background-color: #E5E7EB;
  padding: 90px;
  margin-top: 30px;
}

.testimonial {
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1F2937;
  padding: 30px;
}

.quote-author {
  font-weight: 600;
  font-size: 25px;
  align-self: flex-end;
}

.cta-section {
  padding: 80px;
}

.cta-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882F6;
  padding: 3rem;
  border-radius: 5px;
}

.cta-primary-text {
  color: #F9FAF8;
  font-weight: 600;
  font-size: 25px;
}

.cta-secondary-text {
  color: #E5E7EB;
}

.cta-sign-up-button {
  color: #F9FAF8;
  border: solid 2px #F9FAF8;
  padding: 8px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}